body {
  text-align: center;
  /* background-color: #283149; */
  background: linear-gradient(to bottom, #000000, #434343);
  height: 100vh;
  overflow: hidden;
  position: relative;
}


.star {
  /* Create stars */
  position: absolute;
  width: 2px;
  height: 2px;
  background: white;
  animation: moveStar 5s linear infinite;
}
/* Generate random stars */
@for $i from 1 through 100 {
  .star:nth-child(#{$i}) {
    top: random(100) * 1%;
    left: random(100) * 1%;
    animation-duration: random(5) + 2s;
  }
}

/* Animate the stars */
@keyframes moveStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(100vh);
  }
}


.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
h1 {
  font-size: 5rem;
  color: #DBEDF3;
  font-family: "Arvo", cursive;
  text-shadow: 5px 3px #0ea0c5;

}

footer {
  color: #DBEDF3;
  font-family: sans-serif;
}

.w {
  background-image: url(images/crash.png);
}

.a {
  background-image: url(images/kick.png);
}

.s {
  background-image: url(images/snare.png);
}

.d {
  background-image: url(images/tom1.png);
}

.j {
  background-image: url(images/tom2.png);
}

.k {
  background-image: url(images/tom3.png);
}

.l {
  background-image: url(images/tom4.png);
}

.set {
  margin: 6rem 0rem;
  display: flex;
  flex-wrap: wrap;
  /* margin-left: 15rem; */

}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.pressed {
  box-shadow: 0 3px 4px 0 #DBEDF3;
  opacity: 0.5;
}

.red {
  color: red;
}

.drum {
  outline: none;
  border: 10px solid #404B69;
  font-size: 5rem;
  font-family: 'Arvo', cursive;
  line-height: 2;
  font-weight: 900;
  color: #04da93;
  text-shadow: 3px 0 #DBEDF3;
  border-radius: 15px;
  display: inline-block;
  width: 150px;
  height: 150px;
  text-align: center;
  margin: 10px;
  background-color: white;
  /* transition:height .3s; */

}

.drum:hover{
  cursor: pointer;
  
}

.letters{
  position: relative;
  margin: 0;
  padding: 0;
  bottom: 1rem;
  text-shadow: 2px 2px 5px black;
}

